/*Calendar Widget*/
#calendar_widget_container {
	-webkit-box-shadow: 5px 5px 5px #cdcdcd;
	-moz-box-shadow: 5px 5px 5px #cdcdcd;
	box-shadow: 5px 5px 5px #cdcdcd;
	border-radius: 10px;
}

p#calendar_widget_day {
	font-size: 1.6em;
	color: white;
	background-color: red;
	padding: 10px;
}


p#calendar_widget_date {
	font-size: 5em;
	background-color: white;
	padding-top: 10px;
	-webkit-box-shadow: 5px 5px 5px #cdcdcd;
	-moz-box-shadow: 5px 5px 5px #cdcdcd;
	box-shadow: 5px 5px 5px #cdcdcd;
}

/*jQuery Weather Widget*/
#weather {
	background: #6f9dbe;
	background: -webkit-gradient(linear, left top, left bottom, from(#adc7db), to(#6f9dbe));
	background: -moz-linear-gradient(top, #b2bcc8, #adc7db);
	width: 500px;
	height: 450px;
	overflow: hidden;
}

#weather h2 {
	color: #000;
	text-shadow: rgba(250, 250, 250, 0.6) 2px 2px 0;
	padding: 10px 20px;
}

#weather p {
	font-size: .5em;
	padding: 0px 20px;	
}

#weather p span {
	font-size: 16px;
}

#weather a:link, #weather a:active, #weather a:visited {
	display: block;
	clear: both;
	text-decoration: none;
	color: #222;
	font-size: 12px;
}

#weather a:hover {
	color: #000;
	text-decoration: underline;
}

#weather_spacing {
	padding-bottom: 50px;
}

/*Random Content Generator Widget*/
#randomContent_widget{
	width: 500px;
	height: 450px;
	background: #FEE05E url('randomContent/chucknorris_bg.jpg') bottom right no-repeat;
}

p#randomContent_text {
	font-size: .5em;
	padding: 10px;
	text-align: left;
}

/*Twitter Widget*/
#twitter_widget {
	background: #94D8ED;
	height: 450px;
	overflow: hidden;
}

#widgetboxes li .tweet_list li {
	background: #94D8ED;
	height: auto;
	font-size: 26px;
	text-align: left;
	margin: 0;
	padding: 10px;
}

#widgetboxes li .tweet_list li img {
	position: relative;
	float: left;
	padding: 0 10px;
}

/*Clock Widget*/
#clock {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 450px;
	height: 450px;
	background: transparent url(clock/images/clockface.png);
	list-style: none;
}

#sec, #min, #hour {
	position: absolute;
	width: 24px;
	height: 450px;
	top: 0px;
	left: 210px;
}

#sec {
	background: transparent url(clock/images/sechand.png) !important;
	z-index: 3;
}   

#min {
	background: transparent url(clock/images/minhand.png) !important;
	z-index: 2;
}   

#hour {
	background: transparent url(clock/images/hourhand.png) !important;
	z-index: 1;
}

/*Flickr Widget*/
#flickrcycle {
	margin: 0;
	padding: 0;
	width: 500px;
	height: 450px;
	background: transparent;
}

#flickrcycle li {
	position: relative;
	list-style: none;
	margin: 0;
	width: 500px;
	height: 450px;
	overflow: hidden;
}

#flickrcycle li div {
	position: absolute;
	width: 500px;
	background: black;
	color: white;
	font-size: 12px;
	opacity: .8;
}

/*Transit Widget*/
#transit_widget {
	background: #305080 url('../widgets/transit/images/capmetro.png') bottom center no-repeat;
	height: inherit;
}

#glowingLayout span {
	display: block;
	float: left;
	width: 34px;
	height: 50px;
    background: url(transit/images/countdownGlowing.gif) no-repeat 0px 0px;
}

#glowingLayout span.image0 { background-position: -0px 0px; } 
#glowingLayout span.image1 { background-position: -34px 0px; } 
#glowingLayout span.image2 { background-position: -68px 0px; } 
#glowingLayout span.image3 { background-position: -102px 0px; } 
#glowingLayout span.image4 { background-position: -136px 0px; } 
#glowingLayout span.image5 { background-position: -170px 0px; } 
#glowingLayout span.image6 { background-position: -204px 0px; } 
#glowingLayout span.image7 { background-position: -238px 0px; } 
#glowingLayout span.image8 { background-position: -272px 0px; } 
#glowingLayout span.image9 { background-position: -306px 0px; } 
#glowingLayout span.imageDay { background-position: -340px 0px; } 
#glowingLayout span.imageSep { background-position: -374px 0px; } 
#glowingLayout span.imageSpace { background-position: -408px 0px; }

/*Now Playing Widget*/
#hypem-widget {
	z-index: 100;
}

.hypem-small {
	width: 500px !important;
}